@font-face
  font-family: 'Lucida Sans'
  src: url('/fonts/LucidaSans.eot')
  src: local('☺'), url('/fonts/LucidaSans.woff') format('woff'), url('/fonts/LucidaSans.ttf') format('truetype'), url('/fonts/LucidaSans.svg') format('svg')
  font-weight: normal
  font-style: normal

body
  width: $mainWidth
  margin: 0 auto 0 auto
  font-family: "Lucida Sans", "Lucida Console", "Monaco", "Bitstream Vera Sans Mono", monospace

a
  +link-colors($yellow)
  text-decoration: none

.container
  display: block

  > div
    border: 1px solid $darkGray
    +border-radius(4px)
    background: #fff
    +background-image(radial-gradient(color-stops(#fff, $lightestGray), center center))
    position: relative
    width: 100%
    +box-sizing(border-box)
    overflow: hidden

  .rounded
    +border-radius(7px)

  .rounded__crumbs
    +border-radius(0 7px 7px 7px)

  .colored
    background: $gray
    +background-image(radial-gradient(color-stops($lightGray, $gray), center center))

.with-shadow
  padding-bottom: $shadowHeight
  background: url(/images/shadow.png) no-repeat bottom center
  +background-size(100% $shadowRealHeight + $insurance)

.grid-row
  overflow: hidden
  text-align: center

  *
    display: inline-block

  > .container:first-child
    margin-left: 0

@mixin grid($n)
  width: ($mainWidth / $n) - 2*$em - 2px
  margin: 0 1*$em 0 1*$em

.grid2
  +grid(2)

.grid3
  width: 220px
  margin: 0 20px 0 20px

.grid6
  width: 138px
  margin: 0 13px 0 13px  

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0