// colors
$black: #1c1c1c
$darkGray: #404040
$gray: #808080
$ligthGray: #c0c0c0
$white: #e9e7e4
$yellow: #fead16
$darkRed: #993933
$red: #b7413a
$lightRed: $red * 0.75

// sizes
$em: 16px

$mainWidth: 960px

$headerHeight: 52px
$headerElementWidth: 139px
$headerBottomOffset: 18px

$footerHeight: 18px

$contentHeight: 594px

$shadowHeight: 18px
$insurance: 6px
$shadowRealHeight: $shadowHeight + 6px

$slideHeight: 466px

$sliderRowHeight: 88px
$sliderControlHeight: 36px
$sliderControlWidth: 23px
$sliderControlTop: 215px
$sliderControlLeftOffset: 8px
$sliderControlRightOffset: $mainWidth - 2 * $sliderControlWidth - $sliderControlLeftOffset
$sliderCaptionHeight: 27px