.slider-control
  background: url(/images/arrows.png) no-repeat
  width: $sliderControlWidth
  height: $sliderControlHeight
  display: inline-block
  position: absolute
  opacity: 0.7
  +transition(opacity 0.1s ease-in-out)

  &:hover
    opacity: 0.9

.slider-control__left
  +transform(translate($sliderControlLeftOffset, $sliderControlTop))
  background-position: 0 0
  
.slider-control__right
  +transform(translate($sliderControlRightOffset, $sliderControlTop))
  background-position: 0 100%

.crumbs
  height: $crumbsHeight
  border-bottom: 1px solid $gray
  margin: 0 0 0 0
  background: $white
  +box-shadow(inset 0 0 8px 0 #dbd8d8)
  +border-radius(0 7px 0 0)
  overflow: hidden

  .active, .active *
    background: $blue
    +box-shadow(none)
    color: $white

.crumb
  line-height: $crumbsHeight
  display: block
  float: left
  background: #6a6a6a
  vertical-align: middle
  a
    padding: 0 (44px - $crumbsHeight) 0 44px
    display: block

  span
    $poiterSize: sqrt(pow($crumbsHeight, 2) / 2)
    display: inline-block
    width: $poiterSize
    height: $poiterSize
    position: relative
    top: 5px
    right: -($crumbsHeight / 2) - 5px
    +transform(rotate(45deg))
    background: #6a6a6a
    +box-shadow(inset -3px 3px 4px -2px #585858)
    border: none
    outline: none
    z-index: 500

@mixin button-grad()
  +background-image(linear-gradient(#fed892, $yellow, $yellow, #ffb400))

  &:hover
    +background-image(linear-gradient(#e77a03, $yellow, $yellow, #fcc75d))

  &[disabled]
    +opacity(0.5)

  &[disabled]:hover
    +background-image(linear-gradient(#fed892, $yellow, $yellow, #ffb400))

.button
  border: 1px solid $yellow
  +border-radius(12px)
  background: $yellow
  line-height: 25px
  font-size: 1.063em
  color: $darkGray
  padding: 0 15px 0 15px
  cursor: pointer
  +button-grad()

.tooltip
  border: 1px solid #f00
  float: left
  margin:  0 0 0 5px
  +border-radius(2px)
  background-color: #f00

  p
    text-align: center
    margin: 0 0 0 0
    padding: 0 .5em 0 .5em
    color: #fff

  div
    height: 0
    width: 0
    border: 5px solid transparent    
    border-right: 5px solid #f00
    position: absolute
    margin: 5px 0 0 -10px

.alert
  $color: #008918
  +border-radius(5px)
  border: 1px solid $color
  color: $color
  text-align: center
  padding: .5em 0 .5em 0
  background: rgba(0, 255, 0, 0.3)

.fancybox-fixed-next, .fancybox-fixed-prev
  display: block
  z-index: 8100
  position: absolute