.content
  height: $contentHeight
  overflow: hidden

.content__fullsize
  height: auto

.single
  height: $contentHeight - $shadowHeight - 2px

.slide
  height: $slideHeight
  position: relative

.slider-row
  div
    height: $sliderRowHeight

  .active
    .caption
      background: $lightRed
      color: $white

.caption
  display: block
  background: $darkGray
  position: absolute
  bottom: 0
  width: 100%
  line-height: $sliderCaptionHeight

figure
  $radius: 3px
  $height: 30px

  width: 222px
  +border-radius($radius)
  margin: 0 20px 35px 20px
  float: left
  +box-shadow(0 2px 5px 1px $gray)

  img
    border-bottom: none
    +border-radius($radius $radius 0 0)
    display: block
    width: 222px
    height: 115px

  figcaption
    background: $darkGray
    line-height: $height
    padding: 0 9px 0 9px
    +text-shadow(0 0 3px $black)
    font-size: 0.875em
    +border-radius(0 0 $radius $radius)
    overflow: hidden

  div
    float: right
    background: $yellow
    +text-shadow(none)
    color: $black
    border: 1px solid $yellow
    line-height: $height - 2px
    width: $height - 2px
    margin: 0 -9px 0 0
    text-align: center
    +border-radius(0 0 $radius - 1px 0)
    position: relative
    +background-image(linear-gradient(#fed892, $yellow, $yellow, #ffb400))

.career-content
  padding: 0 81px 0 81px

  a
    display: inline-block

  > p, ul
    margin-bottom: 3em

.back__absolute
  color: $gray
  font-size: 0.875em
  position: absolute
  top: 490px

.back
  color: $gray
  font-size: 0.875em
  margin: 2em 0 5em 0

.share
  border-top: 1px solid $lightGray
  border-bottom: 1px solid $lightGray
  margin: 0 0 1em 0

.contact-form
  div
    overflow: hidden

  label
    font-size: 0.875em
    color: $gray
    width: $labelWidth
    display: block
    float: left
    line-height: 22px

  input[type="text"], textarea
    background: $white
    color: $gray
    width: $formInputWidth
    border: 1px solid $gray
    padding: 2px 4px 2px 4px
    +border-radius(2px)

  input, textarea
    margin: 0 0 9px 0

  textarea
    height: 81px

  .button
    margin: 1em 0 0 0

.slider-content
  width: 550px
  margin: 10px 80px 40px 0
  position: absolute
  bottom: 0
  right: 0

  *
    color: $white