!!! 5

// [if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html class="no-js lt-ie9"><![endif]
// [if gt IE 8]><!

html.no-js
  // <![endif]

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title Allods Team

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='styles/main.css')
    script(src='scripts/vendor/modernizr.min.js')

  body
    header.header
      a.logo(href='#')
        img.logo-image(src='/images/logo1.png', alt='', width='71', height='41')

      block nav
        nav.nav
          li 
            a(href='/slider.html')
              span О нас
              i

          li
            a(href='/slider2.html')
              span Проекты
              i

          li
            a(href='/career.html')
              span Вакансии
              i

            ul
              li 
                a(href='/career2.html') Дизайн
                div 3

              li
                a(href='/career2.html') Арт
                div 2

              li
                a(href='/career2.html') Технологии
                div 2

              li
                a(href='/career2.html') QA
                div 5

              li
                a(href='/career2.html') Реклама и PR
              li
                a(href='/career2.html') Другое

          li
            a(href='/slider3.html')
              span Контакты

    block content
      div.content

    footer.footer
      div.social
        div(style="background-position: 0 0")
        div(style="background-position: 0 -18px")
        div(style="background-position: 0 -36px")
        div(style="background-position: 0 -90px")
      |
      div.copyright TM & © 2006-2013 Allods team. Все права защищены.

    // [if lte IE 7]><p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p><![endif]

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
    script
      window.jQuery || document.write('<script src="scripts/vendor/jquery.min.js"><\/script>');

    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));

    // build:js scripts/amd-app.js
    //- script(data-main="scripts/main", src="scripts/vendor/require.js")
    // endbuild