extends base

block nav
  nav.nav
    li 
      a(href='/slider.html')
        span О нас
        i

    li
      a(href='/slider2.html')
        span Проекты
        i

    li
      a.active(href='/career.html')
        span Вакансии
        i

      ul
        li 
          a(href='/career2.html') Дизайн
          div 3
        li
          a(href='/career2.html') Арт
          div 2
        li
          a(href='/career2.html') Технологии
          div 2
        li
          a(href='/career2.html') QA
          div 5
        li
          a(href='/career2.html') Реклама и PR
        li
          a(href='/career2.html') Другое

    li
      a(href='/slider3.html')
        span Контакты
        i

block content
  div.content
    div.container.with-shadow
      div.rounded.rounded__crumbs.single
        div.crumbs
          div.crumb 
            a(href="/career.html") Вакансии
            span

          div.crumb.active
            a(href="/career2.html") Дизайн
            span

        div.career-content
          h1 Дизайн

          h3 Открытые вакансии

          p Игровой процес первичен. Прежде всего, мы хотим сконцентрироваться на весельи от игры. Все аспекты игры - дизайн, квесты и история сосредоточены на том, чтобы игровой процесс был веселым и интерестным.

          table
            thead
              tr
                td(width="367") Название должности
                td(width="270") Проект
                td Город

            tbody
              tr(onclick="alert('mock for link');")
                td 
                  span.dot
                  a(href="/career3.html") Дизайнер интерфейсов
                td SkyForge
                td Москва

              tr(onclick="alert('mock for link');")
                td
                  span.dot
                  a(href="/career3.html") Дизайнер игровой механники
                td Allods Online
                td Воронеж

              tr(onclick="alert('mock for link');")
                td
                  span.dot
                  a(href="/career3.html") Дизайнер игровой механники 
                td Allods Adventure
                td Москва

          div.back__absolute
            < 
            a(href="/career.html") Вернуться назад