extends base

block nav
  nav.nav
    li 
      a(href='/slider.html')
        span О нас

    li
      a(href='/slider2.html')
        span Проекты

    li
      a(href='/career.html')
        span.active Вакансии
      ul
        li 
          a(href='/career2.html') Дизайн
          div 3
        li
          a(href='/career2.html') Арт
          div 2
        li
          a(href='/career2.html') Технологии
          div 2
        li
          a(href='/career2.html') QA
          div 5
        li
          a(href='/career2.html') Реклама и PR
        li
          a(href='/career2.html') Другое

    li
      a(href='/slider3.html')
        span Контакты

block content
  div.content.content__fullsize
    div.container.with-shadow
      div.rounded.rounded__crumbs
        div.crumbs
          div.crumb 
            a(href="/career.html") Вакансии
            span

          div.crumb
            a(href="/career2.html") Дизайн
            span

          div.crumb.active
            a(href="#") Дизайнер интерфейсов
            span

        div.career-content
          h1 Дизайнер интерфейсов  | SkyForge  | Москва

          h2 Что вас ждет

          p Общая информация о студии, в которой открыта вакансия. В какую замечательную структуру входит студия, какой профессиональный колектив трудится в этой студии. О играх, созданных этой студией и о том, насколько они успешные. О заслугах выраженных в наградах и о планах на год. Не больше шести строк.

          h2 О работе

          p Общая информация о должности, в одно, максимум, в два предложения.

          h2 Обязанности:

          ul
            li Разработка, тестирование и обсуждение прототипов интерфейсов
            li Анализ рынка (пользователей и конкурентов)
            li Ведение гайдов

          h2 Требования:

          ul
            li Опыт работы дизайнером, проектировщиком интерфейсов, GUI/UX от 2 лет
            li Наличие портфолио успешно реализованных проектов
            li Знание теории и принципов построения интерфейсов и сайтов
            li Профессиональное владение Photoshop, инструментами прототипирования
            li Хорошее знание английского языка

          h2 Приветствуется:

          ul
            li Понимание модульных сеток, композиции, экранной типографики
            li Знание Adobe Flash
            li Знание основ HTML, CSS

          div.share
            p Рассказать о вакансии друзьям

          h2 Отправить заявку на эту вакансию

          form.contact-form(method="POST")
            p Ваша персональная информация
            
            div
              label(for="name-field") Имя:
              input(type="text", name="name", id="name-field", placeholder="Имя")

            div
              label(for="surname-field") Фамилия:
              input(type="text", name="surname", id="surname-field", placeholder="Фамилия")

            div
              label(for="phone-field") Телефон:
              input(type="text", name="phone", id="phone-field", placeholder="Телефон")

            div
              label(for="email-field") Email:
              input(type="text", name="email", id="email-field", placeholder="Email")

            div
              label(for="resume-field") Вложить резюме:
              input(type="file", name="resume", id="resume-field", placeholder="Вложить резюме")

            div
              label(for="extra-field") Дополнительно:
              textarea(name="extra", id="extra-field", placeholder="Дополнительно")

            button.button Отправить

          div.back
            < 
            a(href="/career.html") Вернуться назад