extends base

block content
  div.content#content-container
    div.container.with-shadow
      div.single.rounded#content

  script#career-template(type="text/template")
    | <div class="crumbs" id="crumbs">
    |   <div class="crumb">
    |     <a href="#career">Вакансии</a>
    |     <span></span>
    |   </div>
    | </div>

    | <div class="pages <% if(smooth){ %>pages__transition<% } %>" id="pages">
    |   <div class="career-content" id="page-1"></div>
    | </div>

  script#job-category-template(type="text/template")
    | <a href="#career/type=<%= id %>">
    |   <figure>
    |     <img src="/media/<%= thumb %>" alt="" height="145" width="220"/>
    |     <figcaption>
    |       <%= name %>
    |       <div><%= jobsCount %></div>
    |     </figcaption>
    |   </figure>
    | </a>

  script#crumb-template(type="text/template")
    |   <div class="crumb">
    |     <a href="<%= link %>"><%= name %></a>
    |     <span></span>
    |   </div>

  script#jobs-table-template(type="text/tempalte")
    |   <h1><%= category.name %></h1>
    |   <%= category.content %>

    |   <table class="career-table">
    |     <thead>
    |       <tr>
    |         <td width="367">Название должности
    |         </td>
    |         <td width="270">Проект
    |         </td>
    |         <td>Город
    |         </td>
    |       </tr>
    |     </thead>

    |     <tbody>
    |       <% for(var i = 0; i < jobs.length; i++){ %>
    |       <% var job = jobs[i]; %>
    |       <tr>
    |         <td>
    |           <a href="#career/job=<%= job.id %>">
    |             <span class="dot"></span><%= job.name %>
    |           </a>
    |         </td>
    |         <td><%= job.project %></td>
    |         <td><%= cities[job.city] %></td>
    |       </tr>
    |       <% } %>
    |     </tbody>
    |   </table>

    |   <div class="back__absolute">
    |     < <a href="#career">Вернуться назад</a>
    |   </div>

  script#job-template(type="text/templates")
    |   <h1><%= job.name %> | <%= job.project %> | <%= city.city_name %></h1>
    |   <%= job.top_content %>

    |   <% if(job.skills){ %>
    |   <h2>Требования:</h2>
    |   <%= job.skills %>
    |   <% } %>

    |   <% if(job.desired_skills){ %>
    |   <h2>Приветсвуется:</h2>
    |   <%= job.desired_skills %>
    |   <% } %>

    |   <%= job.bottom_content %>    

    |   <div class="share">
    |     <p>Рассказать о вакансии друзьям
    |     </p>
    |     <div style="background-position: 0 0">
    |     </div>
    |     <div style="background-position: 0 -30px">
    |     </div>
    |     <div style="background-position: 0 -60px">
    |     </div>
    |     <div style="background-position: 0 -90px">
    |     </div>
    |     <div style="background-position: 0 -120px">
    |     </div>
    |     <div style="background-position: 0 -150px">
    |     </div>
    |   </div>

    |   <h2>Отправить заявку на эту вакансию</h2>

    |   <form method="POST" class="contact-form" id="contact-form" target="upload-target" enctype="multipart/form-data">
    |     <p>Ваша персональная информация</p>
    

    |     <input type="hidden" name="job_id" value="<%= job.id %>">
    |     <div>
    |       <label for="name-field">Имя:</label>
    |       <input type="text" name="name" id="name-field" placeholder="Имя">
    |     </div>
    
    |     <div>
    |       <label for="surname-field">Фамилия:</label>
    |       <input type="text" name="surname" id="surname-field" placeholder="Фамилия">
    |     </div>
    
    |     <div>
    |       <label for="phone-field">Телефон:</label>
    |       <input type="text" name="phone" id="phone-field" placeholder="Телефон">
    |     </div>
    
    |     <div>
    |       <label for="email-field">Email:</label>
    |       <input type="text" name="email" id="email-field" placeholder="Email">
    |     </div>
    
    |     <div>
    |       <label for="resume-field" class="file-input" id="file-input"><span>Вложить резюме:</span>
    |         <div>
    |           <input id="brows-field" type="text" placeholder="Файл" disabled="disabled">
    |           <div id="brows" class="button">Обзор...</div>
    |         </div>
    |       </label>
    |       <input type="file" name="resume" id="resume-field" placeholder="Вложить резюме" class="hide">
    |     </div>
    
    |     <div>
    |       <label for="extra-field">Дополнительно:</label>
    |       <textarea name="extra" id="extra-field" placeholder="Дополнительно"></textarea>
    |     </div>
    
    |     <button class="button">Отправить</button>
    |   </form>

    |   <iframe id="upload-target" name="upload-target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe>
    
    |   <div class="back">
    |     < <a href="#career/type=<%= category.id %>">Вернуться назад</a>
    |   </div>

  script#project-template(type="text/template")
    | <div>
    |   <img src="/media/<%= thumb %>" alt="" height="88">
    |   <span class="caption"><%= caption %></span>
    | </div>
    | <img src="/media/<%= image %>" alt="" class="hide">

  script#slider-template(type="text/template")
    |   <div id="slider-back-layer" class="slider-back-layer">
    |     <div id="slider-forward-layer" class="slider-forward-layer">
    |       <div class="slider-content" id="slider-content"><%= project.content %></div>
    |     </div>
    |     <div id="slider-control-layer" class="slider-control-layer">
    |       <a href="#projects/<%= prev.id %>" id="left-arrow" class="slider-control slider-control__left"></a>
    |       <a href="#projects/<%= next.id %>" id="right-arrow" class="slider-control slider-control__right"></a>
    |     <div>
    |   </div>


  script#dropdown-item-template(type='text/template')
    | <li>
    |   <a href="#career/type=<%= item.id %>" data-index="<%= index %>"><%= item.name %></a>
    |   <div><%= count %></div>
    | </li>