extends base

block nav
  nav.nav
    li 
      a.active(href='/slider.html')
        span О нас
        i

    li
      a(href='/slider2.html')
        span Проекты
        i

    li
      a(href='/career.html')
        span Вакансии
        i

      ul
        li 
          a(href='/career2.html') Дизайн
          div 3
        li
          a(href='/career2.html') Арт
          div 2
        li
          a(href='/career2.html') Технологии
          div 2
        li
          a(href='/career2.html') QA
          div 5
        li
          a(href='/career2.html') Реклама и PR
        li
          a(href='/career2.html') Другое

    li
      a(href='/slider3.html')
        span Контакты
        i

block content
  div.container.with-shadow
    div.rounded.slide.colored(style="background: url(http://placekitten.com/g/960/484/) no-repeat")
      a.slider-control.slider-control__left(href='#')
      a.slider-control.slider-control__right(href='#')

      div.slider-content
        h1 Эллиптический большой круг небесной сферы
        p Зенитное часовое число, на первый взгляд, выслеживает вращательный азимут (датировка приведена по Петавиусу, Цеху, Хайсу). Тропический год, оценивая блеск освещенного металического шарика, представляет собой параллакс, при этом плотность Вселенной в 3 * 10 в 18-й степени раз меньше, с учетом некоторой неизвестной добавки скрытой массы. Когда речь идет о галактиках, исполинская звездная спираль с поперечником в 50 кпк ничтожно выслеживает возмущающий фактор, Плутон не входит в эту классификацию. Маятник Фуко дает экваториальный надир, выслеживая яркие, броские образования.

  div.grid-row.slider-row
    a.container.with-shadow.active.grid6(href='#')
      div
        img(src="http://placekitten.com/g/138/86", alt="")
        span.caption Привет

    a.container.with-shadow.grid6(href='#')
      div
        img(src="http://placekitten.com/g/138/86", alt="")
        span.caption Наша история

    a.container.with-shadow.grid6(href='#')
      div
        img(src="http://placekitten.com/g/138/86", alt="")
        span.caption АТ Москва

    a.container.with-shadow.grid6(href='#')
      div
        img(src="http://placekitten.com/g/138/86", alt="")
        span.caption АТ Воронеж

    a.container.with-shadow.grid6(href='#')
      div
        img(src="http://placekitten.com/g/138/86", alt="")
        span.caption АТ Бишкек

    a.container.with-shadow.grid6(href='#')
      div
        img(src="http://placekitten.com/g/138/86", alt="")
        span.caption Принципы