extends base

block content
  div.container.with-shadow
    div.rounded.slide
      a.slider-control.slider-control__left(href='#')
      a.slider-control.slider-control__right(href='#')

  div.grid-row.slider-row
    a.container.with-shadow.active(href='#')
      div.grid3
        span.caption привет

    a.container.with-shadow(href='#')
      div.grid3
        span.caption привет

    a.container.with-shadow(href='#')
      div.grid3
        span.caption привет